<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZif7ptlQH5kSHI56FSnVxmuiB3LaKx_U</string>
	<key>GCM_SENDER_ID</key>
	<string>134130126302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sendhome</string>
	<key>PROJECT_ID</key>
	<string>send-f16af</string>
	<key>STORAGE_BUCKET</key>
	<string>send-f16af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134130126302:ios:c00536127a8349cdbc614f</string>
	<key>DATABASE_URL</key>
	<string>https://send-f16af-default-rtdb.firebaseio.com</string>
</dict>
</plist>